# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
conf/config.inc.php
debug
data/since_id
pythoncore/test_decode_vocabulary
pythoncore/__pycache__/data_utils.cpython-35.pyc
pythoncore/train_decode.vec
pythoncore/test_decode.vec
pythoncore/test_encode.vec
pythoncore/train_encode_vocabulary
pythoncore/train_encode.vec
pythoncore/train_decode_vocabulary
*.pyc
pythoncore/weibo_drive/debug.log
